/* tentangkami.css */
.background-about {
  position: relative;
  background: url('../../assets/animasi/bg-tentangkami.svg') center/cover no-repeat;
  height: 300px;
}

.background-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 92, 255, 0.4);
}

.background-about h1 {
  position: relative;
  z-index: 1;
  font-size:50px; 
}

.w-text{
  width:40rem;
}