@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  box-shadow: 7px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-contents {
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.card-testi {
  box-shadow: 3px 5px 8px rgba(105, 92, 255, 0.3);
}

.navbar-fixed {
  position: fixed;
  background-color: transparent;
  z-index: 99;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}
